[Unit]
Description=Load NVIDIA module
After=local-fs.target

[Service]
ExecStart=/opt/nvidia/bin/nvidia-start.sh

[Install]
WantedBy=multi-user.target
